//////////////////////////////////////////////
//  Colors
//////////////////////////////////////////////
$red: red;
$light_red: lighten($red, 20%);
$dark_red: darken($red, 20%);

$blue: blue;
$light_blue: lighten($blue, 20%);
$dark_blue: darken($blue, 20%);

$green: green;
$light_green: lighten($green, 20%);
$dark_green: darken($green, 20%);

$yellow: yellow;
$light_yellow: lighten($yellow, 20%);
$dark_yellow: darken($yellow, 20%);

//////////////////////////////////////////////
//  Grayscale
//////////////////////////////////////////////
$white: white;
$dark_white: darken($white, 20%);

$grey: #aaa;
$light_$grey: lighten($grey, 20%);
$dark_$grey: darken($grey, 20%);

$black: black;
