//////////////////////////////////////////////
// Grid settings
//////////////////////////////////////////////

$total-columns: 12;
$column-width: 60px;
$gutter-width: 20px;
$grid-padding: 0px;

@include border-box-sizing;
$border-box-sizing : true;
