//////////////////////////////////////////////
//  Fonts and typography
//////////////////////////////////////////////

$base-font-family: Helvetica, arial, freesans, clean, sans-serif;
$base-font-size: 100%;
$base-line-height: $base-font-size*1.4;

// Headlines
$headline-font-family: $base-font-family;
