//////////////////////////////////////////////
// States
//////////////////////////////////////////////

.element-invisible,
.is-invisible {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; padding: 0;
  border: 0;
}

.is-hidden {
  display: none;
}
