//////////////////////////////////////////////
// Mixins
//////////////////////////////////////////////

@mixin margin-vertical ($margin-top, $margin-bottom: $margin-top) {
  margin-top: $margin-top;
  margin-bottom: $margin-bottom;
}

@mixin padding-vertical ($padding-top, $padding-bottom: $padding-top) {
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
}


//////////////////////////////////////////////
// Your mixins HERE
//////////////////////////////////////////////

